<section>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
	<%= render partial: 'chart' %>
  </div>
  
  <div id="currencies_graph" style="width: 460px; height: 300px;">
  	<table class="pretty">
  	</table>
  </div>

  <h2>Currencies</h2>

	<%= form_tag({:controller => "currencies", :action => "index"}, :method => :get, :id => 'currencies_search'  )  do %>  
      <p><%= text_field_tag :search, params[:search] %>
      <%= hidden_field_tag 'step_search', 'search' %>
      <%= submit_tag "Search", :onClick =>"document.getElementById('step_search').value='search'"  %>
      <%= button_tag "Clear", :id => 'clear', :type => 'submit', :onClick =>"document.getElementById('step_search').value=''" %>     
      <p id="select"><a href="#" onclick="selectAll()">Select All</a></p>
    <% end %>
    <div id="currencies"><%= render partial: 'currencies' %> </div>
</section>

<script type="text/javascript" charset="utf-8">
$(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'currencies_graph' },
    title: { text: 'Total Collected' },
    xAxis: { type: 'datetime' },
    yAxis: { min: 0,
      title: { text: 'No. of Currencies' }
    },
    series: [{
      name: 'Currencies Collected',
      pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 10.days.ago.at_midnight.to_i * 1000 %>,
     data: <%= (10.days.ago.to_date..DateTime.now).map { |date| Visit.total_collected(date, current_user.username)}.inspect %>
    }]
  });
});
</script>

<script type="text/javascript">
      function selectAll(){
        $("input:checkbox").each(function(){
          $(this).attr('checked', true);
        });
        return false;
      }
</script>