<section>
  <div id="collected_currencies_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Collected</th>
        <td><%= Currency.collected.count %></td>
      </tr><tr>
        <th>Not Collected</th>
        <td><%= Currency.not_collected.count %></td>
      </tr>
    </table>
  </div>

  <h1>Currencies</h1>

  <table>
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th></th>

    </tr>

  <% @currencies.each do |currency| %>
    <tr>
      <td></td>
      <td><%= currency.name %></td>
      <td><%= currency.code %></td>
      <td><%= Visit.find_by_username_and_country_code(current_user.username, currency.country_id).nil? ? 'Not Collected' : 'Collected' %></td>
      <td><%= link_to 'Show', currency %></td>

    </tr>
  <% end %>
  </table>
</section>