<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @currency.name %>
</p>

<p>
  <b>Code:</b>
  <%= @currency.code %>
</p>

<p>
  <b>Status:</b>
  <%= Visit.find_by_username_and_country_code(current_user.username, @currency.country_id).nil? ? 'Not Collected' : 'Collected' %>
</p>

<p>
  <b>Country:</b>
  <%= @currency.country.nil? ? 'None' : link_to(@currency.country.name, @currency.country) %>
</p>

<%= link_to 'Back', currencies_path %>