<%= form_tag({:controller => "countries", :action => "index"}, :method => :get, :id => 'countries_visit'  )  do %>  
  <table>
    <tr>
      <th>Select</th>    
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  	<% for country in @countries %>
    	<tr>
      		<td><%= check_box_tag "country_ids[]", country.id %></td>
      		<td><%= country.name %></td>
      		<td><%= country.code %></td>
	  		<td><%= Visit.find_by_username_and_country_code(current_user.username, country.code).nil? ? 'Not Visited' : 'Visited' %></td>
      		<td><%= link_to 'Show', country %></td>
      		<td><%= link_to 'Edit', edit_country_path(country) %></td>
    	</tr>
  	<% end %>
  </table>
  <%= submit_tag "Visit", :name => "visit", :value => "visit" %>
  <% end %>
