<section>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited</th>
        <td><%= Country.visited.count %></td>
      </tr><tr>
        <th>Not Visited</th>
        <td><%= Country.not_visited.count %></td>
      </tr>
    </table>
  </div>

  <h1>Countries</h1>
  <table>
    <tr>
      <th><%= button_tag "Visit" %></th>    
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>

  <% @countries.each do |country| %>
    <tr>
      <td><%= check_box_tag "visit" %></td>
      <td><%= country.name %></td>
      <td><%= country.code %></td>
	  <td><%= Visit.find_by_username_and_country_code(current_user.username, country.code).nil? ? 'Not Visited' : 'Visited' %></td>
      <td><%= link_to 'Show', country %></td>
      <td><%= link_to 'Edit', edit_country_path(country) %></td>
    </tr>
  <% end %>
  </table>
  
  
</section>
<p>  <small><%= current_user.username %></small> </p>