<section>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited</th>
        <td><%= Visit.where(username: current_user.username).count %></td>
      </tr><tr>
        <th>Not Visited</th>
        <td><%= Country.count - Visit.where(username: current_user.username).count %></td>
      </tr>
    </table>
  </div>
  
  <div id="countries_graph" style="width: 460px; height: 300px;">
  	<table class="pretty">
  	</table>
  </div>

  <h1>Countries</h1>
  <%= form_tag update_multiple_countries_path, :method => :put do %>
  <table>
    <tr>
      <th>Select</th>    
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  	<% for country in @countries %>
    	<tr>
      		<td><%= check_box_tag "country_ids[]", country.id %></td>
      		<td><%= country.name %></td>
      		<td><%= country.code %></td>
	  		<td><%= Visit.find_by_username_and_country_code(current_user.username, country.code).nil? ? 'Not Visited' : 'Visited' %></td>
      		<td><%= link_to 'Show', country %></td>
      		<td><%= link_to 'Edit', edit_country_path(country) %></td>
    	</tr>
  <% end %>
  </table>
  <%= submit_tag "Visit" %>
  <% end %>
</section>

<script type="text/javascript" charset="utf-8">
$(function () {
  new Highcharts.Chart({
    chart: { renderTo: 'countries_graph' },
    title: { text: 'Total Visited' },
    xAxis: { type: 'datetime' },
    yAxis: {
      title: { text: 'No. of Countries' }
    },
    series: [{
      pointInterval: <%= 1.day * 1000 %>,
      pointStart: <%= 10.days.ago.at_midnight.to_i * 1000 %>,
      data: <%= (10.days.ago.to_date..Date.today).map { |date| Visit.total_visited(date, current_user.username)}.inspect %>
    }]
  });
});
</script>