<!DOCTYPE html>
<html>
<head>
  <title>CurrencyTracker</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'extensions', 'jquery-1.5.2.min', 'view_controller', 'simple_pie_chart' %>
  <%= javascript_include_tag "jquery-1.5.2.min", "rails", "highcharts" %>
  <%= csrf_meta_tag %>
</head>
<body>

<header>
  <h1><%= link_to "CurrencyTracker", root_path, id: "logo" %></h1>
  <nav>
    <ul>
    	<% if current_user %>
      		<li><%= link_to "Currencies", currencies_path %></li>
      		<li><%= link_to "Countries", countries_path %></li>
      		<li><%= link_to "Logout", :logout %></li>
      	<% else %>	
      		<li><%= link_to "Register", new_user_path%></li>
      		<li><%= link_to "Login", :login %></li>
      	<% end %>
    </ul>
  </nav>
</header>

<%= yield %>

<footer>
  CurrencyTracker &copy; Copyright 2011 by Smart Enterprises.
</footer>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
